.dashboard {
}

.dashboard-cell {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.dashboard-cell-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 2px;
    border: solid 1px #ddd;
    border-radius: 0.25em;
}

.dashboard-cell-adjust {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 16px;
    height: 5px;
    background-color: #eee;
    cursor: s-resize;
    border: solid 1px #aaa;
    border-bottom: 0;
}

.dashboard-cell:first-child .dashboard-cell-adjust {
    display: inline-block;
}

.dashboard-cell.collapsed .dashboard-cell-inner {
    padding-left: 1.6em;
    cursor: pointer;
    /* Don't let long titles run overboard */
    overflow: hidden;
}

.dashboard-cell.collapsed:hover .dashboard-cell-inner {
    background-color: #efe;
}

.dashboard-container {
    width: 100%;
}

.dashboard-new {
    background-color: #dfd;
    border: solid 1px #030;
    cursor: pointer;
}
