
.graph {
    /* To allow borders, use absolute positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
}
.graph-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Over header */
    background-color: #fff;
    padding: 1em;
    border: solid 20px #fbb;
    cursor: pointer;
}
.graph-fullscreen > * {
    cursor: auto;
}
.graph-overlay {
    position: absolute;
    left: 1.5em;
    right: 0;
    top: 0;
    color: #000;
    background-color: #fff;
}
.graph-title {
    display: inline-block;
    cursor: pointer;
    /* Align after controls collapser */
    position: relative;
    left: 1.6em;
}
.graph-title:hover {
    background-color: #eee;
}
.graph-loading-overlay {
    display: block;
}
.graph-render-overlay {
    position: absolute;
    left: 1.5em;
    top: 1em;
    color: #000;
    background-color: #fff;
}
.graph-display {
    width: 100%;
    height: 100%;
    position: relative;
    /* Prevent scroll bars from showing because of graphs */
    overflow: hidden;
}
.graph-display svg {
    /* Needed to remove whitespace */
    display: block;
}

.graph-display-label-max {
    /* Inserted immediately before the SVG it annotates */
    position: absolute;
    padding-top: 1px;
}

.graph-value-tooltip {
	text-align: right;
}

.graph-value-tooltip-swatch {
    /* The color swatch to the left of titles */
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin: 0.1em;
    vertical-align: bottom;
}

