body {
	/* Browsers don't send a window resize event when a scrollbar is added,
	and we also don't want to keep re-sizing if there's e.g. a tooltip
	that goes into and out of the bottom of the window.
	*/
	overflow-y: scroll;
}

.stats-app {
	/* Header is fixed, but make room for it */
	padding-top: 2em;
}

.stats-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    min-height: 2em;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
}

.stats-dash-picker {
    margin-top: 
}

.stats-header-button {
    padding: 0.25em;
    margin: 0.25em;
    background-color: #fff;
    border-color: #444;
    color: #000;
    display: inline-block;
    cursor: pointer;
}

.stats-header-path-button {
	padding: 0.25em;
	float: right;
}

